* {
  margin: 5px 0px 5px 0px;
  padding: 0;
  font-family: Helvetica, sans-serif;
  background-color: white;
}

h1 {
  background-color: #DBBC32;
  border-radius: 5px;
  font-weight: bold;
  padding-left: 5px;
  color: white;
  height: 75px;
  padding-top: 50px;

}

a {
  text-decoration: none;
}

.background {
  
}

.brewery-row {
  margin: 40px;
  padding-bottom: 15px;
  border-bottom: solid 1px gray;
  clear: both;
}

.image {
  float: left;
  margin-right: 15px;
  margin-bottom: 50px;
}